DTD72/noticias.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT noticias (noticia*)>
<!ELEMENT noticia (titulo, autor, url, texto, foto)>
<!ATTLIST noticia 
            dia CDATA #REQUIRED 
            mes CDATA #REQUIRED
            anyo CDATA #REQUIRED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ATTLIST url direccion CDATA #REQUIRED>
<!ELEMENT texto (#PCDATA)>
<!ELEMENT foto (#PCDATA)>